<div class="max-w-4xl mx-auto p-6 bg-background shadow-md rounded-lg">
  <app-page-header
    [title]="'POSTS.WELCOME.CLIENT.TITLE'"
    [subtitle]="'POSTS.WELCOME.CLIENT.SUBTITLE'"
    [isTransparent]="true"
  ></app-page-header>

  <div *ngFor="let post of posts" class="mb-8 p-4 border-b border-border last:border-none">
    <h1 class="text-3xl font-bold text-foreground hover:text-primary transition duration-200">{{ post.title }}</h1>
    <p class="mt-2 text-muted-foreground">Uploaded by: <span class="font-medium">{{ post.uploadBy }}</span></p>
    
    <div class="mt-4">
      <h2 class="text-xl font-semibold text-secondary">Description</h2>
      <p class="mt-1 text-muted-foreground italic">{{ post.description }}</p>
    </div>
    
    <div class="mt-4">
      <h2 class="text-xl font-semibold text-secondary">Content</h2>
      <p class="mt-1 text-muted-foreground">{{ post.content }}</p>
    </div>
  
    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4 mt-2">
      <ng-container *ngFor="let image of post.fileImages">
        <div class="relative overflow-hidden rounded-lg shadow-md">
          <img 
            [src]="getImageSrc(image)" 
            alt="Image" 
            class="w-full h-48 object-cover transition-transform duration-200 hover:scale-105" 
          />
        </div>
      </ng-container>
    </div>
  </div>
</div>